/* Utilizando el selector universal (apunt a a todos) se eliminan
 todos los margenes y paddings que se incluyen por defecto,
 para poder apreciar como el elemento ocupa correctamente
 todo el espacio indicado */
* {
  margin: 0;
  padding: 0;
}

/* ------- Header style ------- */

header {
  background-color: black;
  padding-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

/* fila de elementos del header */
/* formado por una lista de elementos (ul) */ 
header > nav > ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tituloNavbar {
  font-size: 25px;
  padding: 10px;
  color: white;
}

/* ------- Main style (contenido principal) ------- */
main {
  background-image: url(../images/fondo.jpg);
}

/* ------- Article style ------- */
/*
- Alinear todos los elementos unos encima de otros (flex-direction:column)
- Se centraron los elementos en el eje horizontal/principal (justify-content center)
- Se centraron los elementos en el eje vertical/secondario (align-items center)
*/
article {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
}

.titulo > h1 {
  font-size: 40px;
}

.titulo > h3 {
  font-size: 25px;
  font-weight: normal;
}

.descripcion {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descripcion > p {
  color: gray;
}

.descripcion > a {
  text-decoration: none;
  color: darkcyan;
  font-size: 20px;
}

/* ------- Footer style ------- */

footer {
  background-color: black;
  padding: 5px;
}

footer > h2 {
  color: white;
  text-align: center;
}