* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
- Alinear todos los elementos unos encima de otros (flex-direction:column)
- Se centraron los elementos en el eje horizontal/principal (justify-content center)
- Se centraron los elementos en el eje vertical/secondario (align-items center)
*/
article {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
}

.titulo > h1 {
  font-size: 40px;
}

.titulo > h3 {
  font-size: 25px;
  font-weight: normal;
}

.descripcion {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descripcion > p {
  color: gray;
}

.descripcion > a {
  text-decoration: none;
  color: rgb(20, 101, 182);
  font-size: 20px;
}
