* {
  padding: 0;
  margin: 0;
}

.shadow {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

/* El padre toma todo el ancho y centra su elemento
   interno (flex-child) al centro (center)*/
.flex-father {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* El elemento hijo toma el 80% del ancho total
   del padre y centra todos los elementos
   distribuidos con space-around */
.flex-children {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

/* El logo lo centramos en altura
   pero a lo ancho lo centramos
   a la izquierda (flex-start)*/
.logo {
  flex: 1;  /* que el elemento ocupe el espacio de 1 unidad */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Los logos de navegación los centramos en altura
   pero a lo ancho los centramos
   a la derecha (flex-end)*/
.nav {
  flex: 0.8; /* que el elemento ocupe el espacio de 0.8 unidad */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

/* El logo de búsqueda (search) lo centramos en altura
   y lo centramos a lo ancho (center)
*/
.search {  /* que el elemento ocupe el espacio de 0.5 unidad */
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  gap: 15px;
}

.search > input {
  outline: none;
  background: none;
  border: none;
  font-size: 15px;
  width: 50%;
}
