* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #edf2f4;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}

#main {
  border-radius: 10px;
  background-color: #222435;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 250px;
}

.price {
  font-size: 25px;
}

.discount {
  color: #2ec4b6;
  font-size: 16px;
}
