* {
  background-color: darkslategray;
}

div {
  border: 1px solid orange;
  width: 100px;
  height: 100px;
}

section {
  border: 1px solid violet;
  padding: 10px;
  margin: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
