/* Utilizando el selector universal (apunt a a todos) se eliminan
 todos los margenes y paddings que se incluyen por defecto,
 para poder apreciar como el elemento ocupa correctamente
 todo el espacio indicado */
* {
  margin: 0;
  padding: 0;
}

/* ------- Header style ------- */

/* Pintamos el fondo de la navbar de negro
   y dejamos un relleno superior para separarlo del borde
   de la página */
header {
  background-color: black;
  padding-top: 10px;
}

/* Quitamos las viñetas de la lista */
ul {
  list-style-type: none;
}

/* Manipulamos el texto que se muestra en la navbar */
#tituloNavbar {
  font-size: 25px;
  padding: 10px;
  color: white;
}

/* fila de elementos del header */
/* formado por una lista de elementos (ul) */ 
header > nav > ul {
  padding: 10px;
}
