/* Utilizando el selector universal (apunt a a todos) se eliminan
 todos los margenes y paddings que se incluyen por defecto,
 para poder apreciar como el elemento ocupa correctamente
 todo el espacio indicado */
* {
  margin: 0;
  padding: 0;
}

/* ------- Header style ------- */

header {
  background-color: black;
  padding-top: 10px;
}

ul {
  list-style-type: none;
}

/* fila de elementos del header */
/* formado por una lista de elementos (ul) */ 
header > nav > ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tituloNavbar {
  font-size: 25px;
  padding: 10px;
  color: white;
}
