/* Por clase */
.prueba{
  color:green;
}

/* Por clase */
.prueba1{
  color:blue;
}

/* Esto es un comentario en CSS */
/* Comienza con /*
dejando todo lo que está dentro comentado
.prueba1{
  color:blue;
}
y termina con */