* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #edf2f4;
}

img {
  border-bottom: 1px solid rgba(187, 187, 187, 0.445);
  border-radius: 20px;
}

.body-father {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-container {
  border-radius: 10px;
  background-color: #222435;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.main-container:hover {
  transform: scale(0.8);
  box-shadow: 0.8px 1.4px 2.2px rgba(0, 0, 0, 0.31),
    1.9px 3.3px 5.3px rgba(0, 0, 0, 0.223),
    3.5px 6.1px 10px rgba(0, 0, 0, 0.185),
    6.3px 10.9px 17.9px rgba(0, 0, 0, 0.155),
    11.7px 20.5px 33.4px rgba(0, 0, 0, 0.125),
    28px 49px 80px rgba(0, 0, 0, 0.087);
}

.big-shadow {
  box-shadow: 0.8px 1.4px 2.2px rgba(0, 0, 0, 0.087),
    1.9px 3.3px 5.3px rgba(0, 0, 0, 0.125),
    3.5px 6.1px 10px rgba(0, 0, 0, 0.155),
    6.3px 10.9px 17.9px rgba(0, 0, 0, 0.185),
    11.7px 20.5px 33.4px rgba(0, 0, 0, 0.223),
    28px 49px 80px rgba(0, 0, 0, 0.31);
}

.main-info {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.price {
  font-size: 25px;
  padding: 10px;
  border: 2px solid #2ec4b6;
  border-radius: 50px;
}

.discount {
  color: #2ec4b6;
  font-weight: 500;
  font-size: 16px;
}

.dues {
  font-size: 16px;
}

.free-shipping {
  font-size: 17px;
  color: #2ec4b6;
  font-weight: 500;
}
